<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Add a bottle of suds</h3>
        <form role="form" name="productAdd" ng-submit="addProduct()">
          <div class="form-group">
            <label for="name">Product Name:</label>
            <input type="text" class="form-control" ng-model="productName">
          </div>
          <div class="form-group">
            <label for="description">Price:</label>
            <input type="text" class="form-control" ng-model="productPrice">
          </div>
          <div class="form-group">
            <label for="description">Brewer:</label>
            <input type="text" class="form-control" ng-model="productBrewer">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" ng-model="productDesc">
          </div>
          <div class="form-group">
            <label for="description">Style: </label>
            <input type="text" class="form-control" ng-model="productStyle">
          </div>
          <div class="form-group">
            <label for="description">ABV:</label>
            <input type="text" class="form-control" ng-model="productABV">
          </div>
          <div class="form-group">
            <label for="description">Ratings:</label>
            <input type="text" class="form-control" ng-model="productRatings">
          </div>
          <div class="form-group">
            <label for="description">Score Overall:</label>
            <input type="text" class="form-control" ng-model="productScoreOverall">
          </div>
          <div class="form-group">
            <label for="description">Score Category:</label>
            <input type="text" class="form-control" ng-model="productScoreCategory">
          </div>
          <div class="form-group">
            <label for="description">Image Url:</label>
            <input type="text" class="form-control" ng-model="productImageUrl">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>