<button ng-show="getLineItem(product._id) === null" type="button" class="btn btn-primary" ng-click="addToCart(product)">Add to cart</button>
<div ng-show="getLineItem(product._id) !== null">
	<span>{{ label }}: <input ng-model="getLineItem(product._id).quantity"></input></span>
	<button type="button" ng-click="updateQty(getLineItem(product._id)._id, getLineItem(product._id).quantity)" class="btn btn-primary">update</button>
	<button type="button" class="btn btn-danger" ng-click="removeItem(getLineItem(product._id)._id)">remove</button>
</div>