<div class="container">
	<div ng-repeat="product in products">
		<div class="col-sm-4 panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a ui-sref="product({id: product._id})">{{product.name}}</a></h3>
			</div>
			<div class="panel-body">

				Price:{{product.price}}
				<br>
				<hr>
				<button ng-show="getLineItem(product._id) === null" ng-disabled="!isLoggedIn()" type="button" class="btn btn-primary" ng-click="addToCart(product)">Add to cart</button>
				<div ng-show="getLineItem(product._id) !== null">
					<span>Qty In Cart: <input ng-model="getLineItem(product._id).quantity"></input></span>
					<button type="button" ng-click="updateQty(getLineItem(product._id)._id, getLineItem(product._id).quantity)" class="btn btn-primary">update</button>
				</div>
			</div>
		</div>
	</div>
</div>
