<div class="container">

<div class="row">
  <div ng-hide="state.current.name === 'home'" id="categoryFilter" class="col-sm-2">
    Filter by Category:
      <ul class="list-group" aria-labelledby="single-button">
      	<a ui-sref="products" ui-sref-active="active"><li class="list-group-item" ui-sref-active="active">All</li></a>
        <a ng-repeat='cat in categories' ui-sref="productsByCategory({id:cat._id})" ui-sref-active="active"><li class="list-group-item" role="menuitem">{{cat.name}}</li></a>
      </ul>
  </div>

<div ng-class="{'col-sm-12': state.current.name === 'home', 'col-sm-10': state.current.name !== 'home'}">
  <div ng-repeat="product in products">
    <div ng-if="$index % 4 == 0" class="clearfix"></div>
    <div ng-show="!product.deleted && product.available" class="col-lg-3 col-sm-6 productListing" >
      <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a ng-click="openModal(product._id)">{{product.name}}</a></h3>
          </div>
          <div class="panel-body">
            <div class="img-cont">
              <a ng-click="openModal(product._id)"><img src="{{product.imageUrl || 'https://placebear.com/400/300'}}"
              class="img-responsive center-block img-max-height"></a>
            </div>

            <hr>
            <div class="text-center">
              Price: <b>${{product.price}}</b>
            </div>
            <hr>
            <div class="text-center">
              <add-to-cart product="product" label="Qty in Cart"></add-to-cart>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>
</div>


</div>
