<div class="container">
  <div ng-repeat="order in orders">
    <div class="col-sm-12 panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Order #<a ui-sref="order({orderId: order._id})">{{ order._id }}</a>

          <span class="pull-right">
            {{order.createdAt | date:'dd-MM-yyyy'}}
          </span>
        </h3>
      </div>
      <div class="panel-body">

        <div ng-repeat="lineItem in order.lineItems">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a ui-sref="product({id: lineItem.productId._id})">{{lineItem.productId.name}}</a>
              </h3>
            </div>
            <div class="panel-body">

              <div class="pull-left">
                <img ng-src="{{lineItem.productId.imageUrl}}">
              </div>
              <div class="pull-right">
                <div>Quantity: {{lineItem.quantity}}</div>

                <div>Price: ${{lineItem.price}}</div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
