@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
* {
  box-sizing: border-box; }

body {
  font-family: 'Dosis', sans-serif;
  background: #fdfdfd; }

#main {
  padding-top: 60px;
  margin: 0 auto; }

.col-xs-1.panel, .col-sm-1.panel, .col-md-1.panel, .col-lg-1.panel, .col-xs-2.panel, .col-sm-2.panel, .col-md-2.panel, .col-lg-2.panel, .col-xs-3.panel, .col-sm-3.panel, .col-md-3.panel, .col-lg-3.panel, .col-xs-4.panel, .col-sm-4.panel, .col-md-4.panel, .col-lg-4.panel, .col-xs-5.panel, .col-sm-5.panel, .col-md-5.panel, .col-lg-5.panel, .col-xs-6.panel, .col-sm-6.panel, .col-md-6.panel, .col-lg-6.panel, .col-xs-7.panel, .col-sm-7.panel, .col-md-7.panel, .col-lg-7.panel, .col-xs-8.panel, .col-sm-8.panel, .col-md-8.panel, .col-lg-8.panel, .col-xs-9.panel, .col-sm-9.panel, .col-md-9.panel, .col-lg-9.panel, .col-xs-10.panel, .col-sm-10.panel, .col-md-10.panel, .col-lg-10.panel, .col-xs-11.panel, .col-sm-11.panel, .col-md-11.panel, .col-lg-11.panel, .col-xs-12.panel, .col-sm-12.panel, .col-md-12.panel, .col-lg-12.panel {
  padding-left: 0;
  padding-right: 0; }

.lineItem {
  list-style-type: none;
  padding: 0; }

.lineItem img {
  /* max-width: 5em; */
  max-height: 3em; }

/* .lineItem input {
	width: 20px;
} */
.xs-input {
  width: 120px !important; }

.orange {
  color: orange; }

.minus {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  display: inline-block;
  height: 1.3em;
  line-height: .5em; }

.plus {
  height: 1.3em;
  line-height: .5em;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  display: inline-block; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black; }
  navbar .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px; }
  navbar fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px; }
  navbar a {
    color: black;
    font-size: 16px; }
  navbar .nav > li > a {
    cursor: pointer;
    transition: color 0.2s; }
    navbar .nav > li > a.active {
      color: #c80a0c; }
    navbar .nav > li > a:hover {
      background: none;
      color: #f31214; }
    navbar .nav > li > a:focus {
      background: none; }
  navbar .cart-button {
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
    margin-right: 20px; }
  navbar .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
    margin-right: 20px; }
  navbar .welcome {
    float: right;
    margin-top: 12px; }
    navbar .welcome span {
      color: black;
      font-size: 16px;
      margin-right: 5px; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }

#home h1 {
  margin-top: 40px;
  text-align: center; }

#about {
  margin: 0 auto;
  width: 90%; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }
  #about .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto; }
    #about .carousel .carousel-inner {
      height: 500px !important; }
    #about .carousel .carousel-control {
      background: none; }
    #about .carousel .carousel-indicators {
      display: none; }
    #about .carousel img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

#login-form {
  width: 60%;
  margin: 0 auto; }

#createUser-form {
  width: 60%;
  margin: 0 auto; }

.productListing .img-cont {
  height: 240px;
  max-height: 240px; }
  .productListing .img-cont img {
    height: 240px; }

.productListing .panel-heading {
  min-height: 55px;
  max-height: 55px;
  text-align: center; }

.red {
  color: red; }

.modal-dialog .img-cont img {
  margin: 0 auto; }

.modal-dialog h3 {
  margin-top: 0; }

.modal-dialog .showReviewForm {
  margin-bottom: 20px; }

.averageRating span:focus, .averageRating i:focus {
  outline: none; }

.getLineItemInput input {
  width: 100%; }

.button-cont {
  margin-top: 20px; }

#categoryFilter {
  overflow-y: scroll; }

a.active {
  color: black;
  text-decoration: underline; }
