.btn {
  font-size: 18px;
}
navbar {

  display: block;
  background: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  height: 90px;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
    img {
      display: inline-block;
    }
  }

  a {
    color: black;
    font-size: 18px;
  }
  .nav > li {
    display: inline-block;
  }
  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }
  .cart-button {
    border: 1px solid black;
    background: none;
    outline: none !important;
  }
  .cartButtonCart {
    position: relative;
  }
  .counterCont {
    font-size: 15px;
    font-family: arial, sans-serif;
    position: absolute;
    right: -7px;
    bottom: -5px;
    background-color: rgb(221,44,0);
    color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    padding: 2px 6px;
    line-height: 20px;
    font-weight: bold;

    &.pulsate {
      -webkit-animation: pulsate 1.5s ease-out;
      -webkit-animation-iteration-count: 1;
    }
  }

  .cartButtonDropdown {
    background-color: white;
    position: absolute;
    padding: 20px;
    bottom: -164px;
    border: 1px solid black;
    left: -182px;

    .subtotal {
      color: red;
      font-weight: bold;
    }
  }
  .login-button {
    border: 1px solid black;
    background: none;
    outline: none !important;
    margin-right: 20px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1,1); }
    50% {-webkit-transform: scale(1.3, 1.3); }
    100% {-webkit-transform: scale(1, 1); }
}

@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
