<div class="container">
  <div ng-repeat="lineItem in cart">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{lineItem.productId.name}}</h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          Name: {{lineItem.productId.name}}   ||   
          Price: {{lineItem.productId.price}}
        </div>
        <div class="pull-right">
            <span>Quantity: <input ng-model="lineItem.quantity"></input></span>
            <button type="button" ng-click="quantityChange(lineItem, lineItem.quantity)" class="btn btn-primary">update</button>
          <button type="button" class="btn btn-danger" ng-click="removeItem(lineItem)">remove</button>
        </div>
      </div>
    </div>
  </div>
</div>