<form name="shippingForm">
	<div class="form">
		<div class="form-group col-xs-6">
			<input class="form-control" ng-model="currentState.form.firstName" id="firstName" placeholder="First Name" required>
		</div>
		<div class="form-group col-xs-6">
			<input class="form-control" ng-model="currentState.form.lastName" id="lastName" placeholder="Last Name" required>
		</div>
		<div class="form-group col-xs-12">
			<input class="form-control" ng-model="currentState.form.email" type="email" id="email" placeholder="Email Address" required>
		</div>
		<div class="form-group col-xs-12">
			<input class="form-control" ng-model="currentState.form.address" id="address" placeholder="Address" required>
		</div>
		<div class="form-group col-xs-12">
			<input class="form-control" ng-model="currentState.form.addressOpt" id="addressOpt" placeholder="Address (optional)">
		</div>
		<div class="form-group col-xs-6">
			<input class="form-control" ng-model="currentState.form.city" id="city" placeholder="City" required>
		</div>
		<div class="form-group col-xs-6">
			<input class="form-control" ng-model="currentState.form.zip" id="zip" placeholder="Postal/Zip Code" required>
		</div>
		<div class="form-group col-xs-6">
			<input class="form-control" ng-model="currentState.form.country" id="country" placeholder="Country" required>
		</div>
		<div class="form-group col-xs-6">
			<input class="form-control" ng-model="currentState.form.state" id="state" placeholder="State / Province" required>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-primary pull-right" ng-class="{disabled: shippingForm.$invalid}" ng-click="next(currentState.form, shippingForm)">Continue</button>
		</div>
	</div>
</form>