<div class="form-group col-xs-6">
	<input class="form-control" ng-model="currentState.form.firstName" id="firstName" placeholder="First Name" ng-required="!currentState.form.billingAddressNotNeeded">
</div>
<div class="form-group col-xs-6">
	<input class="form-control" ng-model="currentState.form.lastName" id="lastName" placeholder="Last Name" ng-required="!currentState.form.billingAddressNotNeeded">
</div>
<div class="form-group col-xs-12">
	<input class="form-control" ng-model="currentState.form.address" id="address" placeholder="Address" ng-required="!currentState.form.billingAddressNotNeeded">
</div>
<div class="form-group col-xs-12">
	<input class="form-control" ng-model="currentState.form.addressOpt" id="addressOpt" placeholder="Address (optional)">
</div>
<div class="form-group col-xs-6">
	<input class="form-control" ng-model="currentState.form.city" id="city" placeholder="City" ng-required="!currentState.form.billingAddressNotNeeded">
</div>
<div class="form-group col-xs-6">
	<input class="form-control" ng-model="currentState.form.zip" id="zip" placeholder="Postal/Zip Code" ng-required="!currentState.form.billingAddressNotNeeded">
</div>
<div class="form-group col-xs-6">
	<input class="form-control" ng-model="currentState.form.country" id="country" placeholder="Country" ng-required="!currentState.form.billingAddressNotNeeded">
</div>
<div class="form-group col-xs-6">
	<input class="form-control" ng-model="currentState.form.state" id="state" placeholder="State / Province" ng-required="!currentState.form.billingAddressNotNeeded">
</div>